.card {
	width: 100%;
	display: block;
	text-decoration: none;
	padding: rhythm(.5);
	background: #fff;
	text-align: center;
	transition: transform $trans-speed;

	&:hover,
	&:active {
		transform: scale(1.05);
	}

	.col:nth-child(3) & {
		display: none;

		@include media(">=tb") {
			display: block;
		}
	}

	.col:nth-child(4) & {
		display: none;

		@include media(">=wd") {
			display: block;
		}
	}
}
