.burger-icon,
.burger-icon:before,
.burger-icon:after {
	height: rhythm(.08333);
    background-color: $color-type-invert;
}

.burger-icon {
	margin: rhythm(.25) rhythm(.25) 0 0;
	width: rhythm(.66666);
    display: inline-block;
    vertical-align: top;
    position: relative;

    &:before,
    &:after {
    	left: 0;
	    content: '';
	    position: absolute;
        transition: transform $trans-speed ease-in;
	}

    &:before {
        width: 60%;
        top: rhythm(.16666);
        .site-nav__btn--open & {
            width: 100%;
            transform: rotate(45deg);
        }
    }

    &:after {
        width: 75%;
    	top: rhythm(.33333);

        .site-nav__btn--open & {
            width: 100%;
            transform: rotate(-45deg) translate(rhythm(.125), rhythm(-.125));
        }
    }

    .site-nav__btn--open & {
        height: 0;
    }
}

