.aspect-ratio {
	height: 0;
	position: relative;
}

.aspect-ratio--16x9 {
	padding-bottom: calc(9/16 * 100%);
}

.aspect-ratio__stretch {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}