.site-footer {
	background: $color-tertiary;
	text-align: center;
	color: $color-highlight;

	@include media(">=tb") {
		text-align: left;
	}
}

.site-footer__small-print {
	overflow: hidden;
}

small {
	.site-footer & {
		width: 100%;
		display: inline-block;
		@include adjust-font-size-to(12px,.75);
		padding-bottom: rhythm(.25);
		color: $color-type-soft;
		float: left;

		&:last-child {
			float: right;
		}

		@include media(">=tb") {
			width: auto;
		}
	}
}