body {
	padding-top: rhythm(1.8);
}

.site-nav {
	height: rhythm(1.925);
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	@include pie-clearfix;
	background: $color-main;
	color: $color-highlight;
	transition: top $trans-speed;
	z-index: z('nav');
	border-bottom: rhythm(.125) solid $color-darken-opacity;
  background-clip: padding-box;

  @include media("<=ph") {
		&.site-nav--expanded {
			overflow: visible;
			height: auto;
			color: $color-type;
		}
	}

	&.site-nav--hidden {
		top: rhythm(-1.925);
	}
}

.wrapper {
	.site-nav & {
		@include media("<=ph") {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

.site-nav__list {

	@include media("<=ph") {
		.site-nav--expanded & {
			padding-top: rhythm(1.8);
			margin-left: 0;
		}
	}

	@include media(">ph") {
		float: right;
		margin-left: 0;
		margin-right: rhythm(-.4);
	}
}

.site-nav__list-item {
	@include media("<=ph") {
		.site-nav--expanded & {
			display: flex;
			background-color: $color-main-accent;
			position: relative;
			color: $color-highlight;
			@include pie-clearfix;
		}
	}

	@include media(">ph") {
		float: left;
	}
}

.site-nav__list-item:after {
	@include media("<=ph") {
		.site-nav--expanded & {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background: $color-main;
		}
	}
}

.site-nav__signpost {
	@include media("<=ph") {
		.site-nav--expanded & {
			float: left;
			flex-shrink: 0;
			margin-right: rhythm(.2);

			&:after {
				color: $color-main-fade;
				content: '›';
				@include adjust-font-size-to(24px,1.8,$base-font-size);
			}
		}
	}
}

.site-nav__link {
	display: block;
	float: left;
	text-decoration: none;
	padding: rhythm(.4);

	&:hover,
	&:active {
		text-decoration: underline;
	}

	.site-nav__list-item:last-child & {
		padding-right: 0;

		@include media("<=ph") {
			.site-nav--expanded & {
				padding-right: rhythm(.5);
			}
		}

		@include media(">ph") {
			padding-right: rhythm(.5);
		}
	}

	@include media("<=ph") {
		.site-nav--expanded & {
			padding-right: rhythm(.5);
		}
	}
}

.site-nav__sub-link {
	@extend .site-nav__link;
	color: $color-main-fade;
	display: none;
	text-overflow: ellipsis;
  	white-space: nowrap;
  	overflow: hidden;

  	@include media("<=ph") {
		.site-nav--expanded & {
			display: block;
			padding-right: rhythm(.4);
		}

		&:nth-of-type(1) {
			.site-nav--expanded & {
				flex-shrink: 0;
				max-width: rhythm(7);
			}
		}

		&:nth-of-type(1):last-child {
			.site-nav--expanded & {
				max-width: none;
				width: 100%
			}
		}

		&:nth-of-type(2) {
			border-left: 1px solid $color-main;
		}
	}

	&:hover:before {
		text-decoration: none;
	}
}

.site-nav__btn {
	position: absolute;
	top: 0;
	right: 0;
	background-color: $color-tertiary;
	color: $color-type-invert;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: -3px;
		background-color: $color-darken-opacity;
		height: 100%;
		width: 3px;
	}

	&:active {
		text-decoration: underline;
	}

	&:after {
		content: 'all';
	}

	&.site-nav__btn--open:after {
		content: 'close';
	}

	@include media(">ph") {
		display: none;
	}
}

.cover {
	float: right;
	padding: rhythm(.4) rhythm(1.01388);
	background: $color-main;
	border-left: 3px solid $color-main;
	color: $color-main;
	position: relative;
	z-index: z('btn-cover');
	user-select: none;

	.site-nav--expanded & {
		display: none;
	}

	@include media(">ph") {
		display: none;
	}
}
