.page-content {
	padding-bottom: rhythm(1);
	p {
		@extend .wrapper;
	}
}

.page__summary {
	background: $color-secondary-fade;
	padding-bottom: rhythm(1);
	@include clearfix;

	&:first-child {
		.page--home & {
			background: $color-type-invert;
		}
	}
}

.page__header {
	background: $color-secondary-accent;
	background-position: center;
	overflow: hidden;
	border-bottom: rhythm(.125) solid $color-highlight;
}

.page__title {
	max-width: 350px;
	margin-left: rhythm(.75);
	box-sizing: content-box;
	padding-left: calc((100% - #{rhythm(35)}) / 2);

	@include media(">=wd") {
		padding-left: calc((100% - #{rhythm(50)}) / 2);
	}
}

.page__sub-title {
	display: block;
	color: $color-main;
	font-weight: 700;
}

.tab {
	float: left;
	display: inline-block;
	color: $color-secondary-accent;
	background: $color-darken-opacity;
	padding-left: calc((100% - #{rhythm(35)}) / 2);

	@include media(">=wd") {
		padding-left: calc((100% - #{rhythm(50)}) / 2);
	}
}

.breadcrumb {
	overflow: hidden;
}

.breadcrumb__item {
	float: left;

	@include media("<tb") {
		display: none;
	}
}

.breadcrumb__link {
	text-decoration: none;
	color: $color-highlight;
	padding: rhythm(.25) 0;
	display: inline-block;

	&:hover {
		.site-content & {
			color: $color-highlight;
		}
	}
}

img {
	.page--post & {
		float: right;
		padding: 0 0 rhythm(.5) 0;

		@include media(">=tb") {
			padding-left: rhythm(.5);
		}
	}
}
