---
layout: default
---
<div class="post">

  <section class="page__summary">
    <header class="page__header">
      <h1 class="page__title wrapper">Projects</h1>
    </header>
    <div class="wrapper">
      <div class="grid grid--gutter">
        {% for post in site.posts %}
          {% if post.categories contains 'projects' %}
            <div class="col col--1/2@>ph<=tb col--1/3@>=tb">
              <a class="card" href="{{ post.url | prepend: site.baseurl }}">
                <figure>
                  <picture>
                    <source srcset="" media="(min-width: rhythm(20))">
                    <img class="card__img" srcset="http://lorempixel.com/441/300/sports" alt="{{ post.title }}" />
                  </picture>
                  <figcaption>
                    <h2>{{ post.title }}</h2>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </figcaption>
                </figure>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>

</div>
