---
layout: default
---

<article class="page page--home">

  <section class="page__summary">
    <header class="page__header" style="background-image:url(img/about.jpg);">
      <h1 class="page__title">Front-End Developer</h1>
      <h4 class="page__sub-title wrapper"><a href="{{ site.baseurl }}/about/">Learn about my skills & experience&nbsp;&raquo;</a></h4>
    </header>
    <div class="wrapper">
      <p>the simplest option is usually the best.</p>
    </div>
  </section>

  <section class="page__summary">
    <header class="page__header">
      <h1 class="page__title wrapper">Blog</h1>
      <h4 class="page__sub-title wrapper"><a href="{{ site.baseurl }}/blog/">View all blog posts &raquo;</a></h4>
    </header>
    <div class="wrapper">
      <div class="grid grid--gutter">
        {% for post in site.posts %}
          {% unless post.categories contains 'projects' %}
            {% capture blogCount %}{{ blogCount | plus: '1' }}{% endcapture %}
            {% if blogCount < '4' %}
            <div class="col col--1/2@>ph<=tb col--1/3@>=tb">
              <a class="card" href="{{ post.url | prepend: site.baseurl }}">
                <figure>
                  <picture class="card__img-wrap aspect-ratio aspect-ratio--16x9">
                    <source srcset="" media="(min-width: rhythm(20))">
                    <img class="card__img aspect-ratio__stretch" srcset="http://lorempixel.com/441/248/sports" alt="{{ post.title }}" />
                  </picture>
                  <figcaption>
                    <h2>{{ post.title }}</h2>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </figcaption>
                </figure>
              </a>
            </div>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="page__summary">
    <header class="page__header">
      <h1 class="page__title wrapper">Projects</h1>
      <h4 class="page__sub-title wrapper"><a href="{{ site.baseurl }}/projects/">View all projects&nbsp;&raquo;</a></h4>
    </header>
    <div class="wrapper">
      <div class="grid grid--gutter">
        {% for post in site.posts %}
          {% if post.categories contains 'projects' %}
            {% capture projectCount %}{{ projectCount | plus: '1' }}{% endcapture %}
            {% if projectCount < '4' %}
            <div class="col col--1/2@>ph<=tb col--1/3@>=tb">
              <a class="card" href="{{ post.url | prepend: site.baseurl }}">
                <figure>
                  <picture class="card__img-wrap aspect-ratio aspect-ratio--16x9">
                    <source srcset="" media="(min-width: rhythm(20))">
                    <img class="card__img" srcset="http://lorempixel.com/441/248/sports" alt="{{ post.title }}" />
                  </picture>
                  <figcaption>
                    <h2>{{ post.title }}</h2>
                    <span class="post-meta">{{ post.category }}</span>
                  </figcaption>
                </figure>
              </a>
            </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="page__summary">
    <header class="page__header">
      <h1 class="page__title wrapper">PUBLISHED ARTICLES</h1>
      <h4 class="page__sub-title wrapper"><a href="#">View all my published articles&nbsp;&raquo;</a></h4>
    </header>
    <div class="wrapper">
      <div class="grid grid--gutter">
        <div class="col col--1/2@>ph<=tb col--1/3@>=tb">
          <a class="card" href="//www.sitepoint.com/recreating-google-images-search-layout-css/">
            <h2>Sitepoint</h2>
            <h3>Recreating the Google Images Search Layout with CSS</h3>
          </a>
        </div>
        <div class="col col--1/2@>ph<=tb col--1/3@>=tb">
          <a class="card" href="//www.sitepoint.com/responsive-fluid-width-variable-item-navigation-css/">
            <h2>Sitepoint</h2>
            <h3>Responsive, Fluid-Width, Variable-Item Navigation with CSS</h3>
          </a>
        </div>
      </div>
    </div>
  </section>

</div>
