<header class="site-header">
  <nav class="site-nav js-site-nav">
    <div class="wrapper">
      <a class="site-logo" href="{{ site.baseurl }}/">
      <img src="/img/danielro.se.png" alt="danielro.se"/>
      </a>
      <ul class="site-nav__list">
        <li class="site-nav__list-item">
          <div class="site-nav__signpost">
            <a class="site-nav__link" href="{{ site.baseurl }}/about/">about</a>
          </div>
          <a class="site-nav__sub-link" href="{{ site.baseurl }}/about/">Lead Front End Developer</a>
        </li>
        <li class="site-nav__list-item">
          <div class="site-nav__signpost">
            <a class="site-nav__link" href="{{ site.baseurl }}/blog/">blog</a>
          </div>
            {% for post in site.posts %}
              {% unless post.categories contains 'projects' %}
                {% capture blogCount %}{{ blogCount | plus: '1' }}{% endcapture %}
                {% if blogCount < '3' %}
                <a class="site-nav__sub-link" href="{{post.url}}">{{post.title}}</a>
                {% endif %}
              {% endunless %}
            {% endfor %}
        </li>
        <li class="site-nav__list-item">
          <div class="site-nav__signpost">
            <a class="site-nav__link" href="{{ site.baseurl }}/projects/">projects</a>
          </div>
          {% for post in site.posts %}
            {% if post.categories contains 'projects' %}
              {% capture projectCount %}{{ projectCount | plus: '1' }}{% endcapture %}
              {% if projectCount < '3' %}
              <a class="site-nav__sub-link" href="{{post.url}}">{{post.title}}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </li>
        <li class="site-nav__list-item">
          <div class="site-nav__signpost">
            <a class="site-nav__link" href="{{ site.baseurl }}/published/">published</a>
          </div>
          <a class="site-nav__sub-link" href="//www.sitepoint.com/recreating-google-images-search-layout-css/">Recreating the Google Images Search Layout with CSS</a>
          <a class="site-nav__sub-link" href="//www.sitepoint.com/responsive-fluid-width-variable-item-navigation-css/">Responsive, Fluid-Width, Variable-Item Navigation with CSS</a>
        </li>
        <li class="site-nav__list-item">
          <div class="site-nav__signpost">
            <a class="site-nav__link" href="mailto:{{site.author.email}}">contact</a>
          </div>
          <a class="site-nav__sub-link" href="mailto:{{site.author.email}}">{{site.author.email}}</a>
        </li>
      </ul>
      <button class="site-nav__btn btn js-nav-open"><span class="burger-icon"></span></button>
    </div>
    <div class="cover">all</div>
  </nav>
</header>
