body {
	color: $color-type;
}

.h1 {
	font-family: alfa slab one;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: rhythm(.025);
}

hr {
	border: none;
	border-top: rhythm(.125) double $color-type;
	color: $color-type;
	text-align: center;
    height: 0;

    &:after {
	    content: "§";
		@include adjust-font-size-to( $base-font-size * 1.5, 1 );
	    background: $color-type-invert;
	    display: inline-block;
	    position: relative;
	    top: rhythm(-.5);
	    padding: 0 rhythm(.25);
    }
}

a {
	transition: color $trans-speed;

	&:hover,
	&:active {
		.site-content & {
			color: $color-main;
		}
		.site-footer & {
			color: $color-highlight;
		}
	}
}
