hr {
	margin-bottom: rhythm(1);
}

.page__sub-title {
	margin-top: rhythm(-.5);
}

.page__sub-title {
	margin-bottom: rhythm(1);
}

.page__header {
	padding-top: rhythm(1);
	margin-bottom: rhythm(.875);
}

.site-aside {
	padding-top: rhythm(1);
	padding-bottom: rhythm(1);
}

.site-footer {
	padding-top: rhythm(.5);
	padding-bottom: rhythm(.25);
}

.page__section {
	padding-bottom: rhythm(.5);
}

.card {
	margin-bottom: rhythm(1);
}

.card__img-wrap {
	margin-bottom: rhythm(.5);
}

.highlight {
	padding-top: rhythm(1);
	margin-bottom: rhythm(1);
}

.codepen {
	margin-bottom: rhythm(1);
}
